body {
  font-family: 'Montserrat', sans-serif;
  background: white;
}

.logo {
  background-color: #2b0d0e;
  color: white;
  font-size: 16;
}

.first-box {
  width:1000px; 
  float:left; 
  height: 150px;
  margin: 50px
}

second-box {
  width:500px; 
  height: 150px; 
  float:middle; 
  margin: 50px
}


